@use "../utilities/variables" as var;
@use "../utilities/mixins" as m;

/*      between CellPhone/Tablet      */

@media (min-width: 480px) {
    .offersImage img {
        max-width: 20rem;
        height: auto;
    }

    .footerMain {
        @include m.basicFlexDirectionJustContent(row, flex-start);
        flex-wrap: wrap;
        gap: 0.5rem;
        article {
            width: 13rem;
        }
    }
}

/*      Tablet      */

@media (min-width: 748px) {
    .slider {
        @include m.basicFlexDirectionJustContent(row, center);
        gap: 2rem;
    }

    .featured {
        @include m.basicFlexDirectionJustContent(row, center);
        flex-wrap: wrap;
    }

    .featureds {
        @include m.basicFlexDirectionJustContent(row, center);
        flex-wrap: wrap;
    }

    .categories {
        @include m.basicFlexDirectionJustContent(row, center);
        flex-wrap: wrap;
    }

    .product {
        max-width: 20rem;
    }

    .footerMain {
        @include m.basicFlexDirectionJustContent(row, center);
        gap: none;
        article {
            width: 20rem;
        }
    }

    .aboutMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "left right";
        ul {
            padding: 0px;
        }
        h2 {
            text-align: start;
        }
    }

    .aboutLeft {
        text-align: start;
        padding-inline: 1rem;
    }

    .aboutRight {
        padding-top: 0px;
        text-align: start;
        padding-inline: 1rem;
    }

    .productsMain {
        grid-template-columns: 250px 1fr;
        align-items: start;
    }

    .cartMain {
        grid-template-columns: 2fr 1fr;
    }

    .signInContainer {
        max-width: 600px;
    }

    .socialButtons {
        flex-wrap: nowrap;
    }

    .cartItem {
        grid-template-columns: 120px 1fr auto auto auto;
        gap: 1.5rem;
    }

    .cartItemQuantity {
        margin-top: 0;
    }

    .cartItemTotal {
        margin-top: 0;
        text-align: end;
    }

    .cartItemActions {
        margin-top: 0;
        text-align: center;
    }
}

/*      Desktop      */

@media (min-width: 1024px) {
    .headerNavBar {
        gap: 2rem;
    }

    .slider {
        justify-content: none;
    }

    .footerMain article {
        width: 13rem;
    }

    .cartMain {
        max-width: 1200px;
        margin: 0 auto;
    }

    .signInContainer {
        max-width: 550px;
    }
}