@use "./utilities/variables" as var;
@use "./utilities/extends";
@use "./utilities/mixins" as m;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var.$fuente-principal;
    background-color: var.$color-white;

    a {
        color: inherit;     /* Con esto los textos link(href) ahora toman el color que les asigne */
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    h1, h2, h3, h4 {
        font-family: var.$fuente-secundaria;
    }

    hr {
        background: var.$color-violet;
        height: 2px;
        margin: 1rem 0;
        border-radius: 20%;
    }
}

/*      Header       */

.headerNavBar {
    flex-direction: row;
    a {
        color: var.$color-blue;
        text-decoration: none;
        &:hover {
            color: var.$color-pink;
        }
    }
}

.logoNav {
    height: 3rem;
    width: auto;
    text-align: start;
}

.searchBtn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var.$color-pink;
    color: var.$color-white;
    border: none;
    &:hover {
        background: var.$color-pink-white;
    }
}

.slider {
    flex-direction: column;
    padding: 2rem;
    background-color: var.$color-blue-white;
    border-radius: 20px;
    h2 {
        padding-bottom: 1rem;
    }
    p {
        color: var.$color-gray;
        padding-bottom: 0.5rem;
    }
    button {
        @extend %primary-btn;
    }
}

.offersImage {
    padding-top: 1rem;
    img {
        max-width: 13rem;
        height: auto;
    }
}

/*      Featured        */

.title {
    text-align: center;
    font-weight: 200;
    font-size: x-large;
    padding-top: 2rem;
}

.featured {
    @include m.basicFlexDirectionAlign(column, center);
}

.product {
    width: 16rem;
    height: auto;
    padding: 1rem;
    margin: 1rem;
    vertical-align: top;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid var.$color-gray;
    img {
        width: 13rem;
        height: auto;
        padding: 2rem;
    }
    h3 {
        font-size: 1rem;
        margin-bottom: 0.4rem;
    }
    p {
        color: var.$color-gray;
        padding-block: 0.1rem;
        font-size: 0.9rem;
    }
    button {
        @extend %primary-btn;
        margin-top: 1rem;
    }
}

/*      Categories      */

.categories {
    @include m.basicFlexDirectionAlign(column, center);
}

.categoryCard {
    height: auto;
    max-width: 20rem;
    padding: 1rem;
    margin: 1rem;
    vertical-align: top;
    text-align: center;
    img {
        width: 200px;
        height: auto;
    }
    h3 {
        font-size: 1rem;
        padding-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
    p {
        color: var.$color-gray;
        padding-block: 0.1rem;
        font-size: 0.9rem;
    }
}

/*      Footer      */

footer {
    background: var.$color-black;
    color: var.$color-white;
    ul {
        padding: 0px;
    }
    a {
        text-decoration: none;
        font-size: small;
        color: var.$color-gray;
        &:hover{
            color: var.$color-violet;
        }
    }
}

.footerTop {
    background: var.$color-black-footer;
    text-align: center;
    height: auto;
    img {
        height: 40px;
        width: auto;
        padding: 0.3rem;
    }
}

.footerMain {
    @include m.basicFlexDirectionJustContent(column, flex-start);
    flex-wrap: wrap;
    gap: 0.5rem;
    article {
        width: 16rem;
    }
}

.footerBottom {
    background: var.$color-black-footer;
    text-align: center;
    height: auto;
}

/*      AboutUs      */

.aboutHeader {
    text-align: center;
    p {
        color: var.$color-gray;
        padding: 1rem;
    }
}

.aboutMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "left"
        "right";
    padding-bottom: 2rem;
    h2 {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
    }
    p {
        font-size: 0.9rem;
        color: var.$color-gray;
    }
}

.aboutLeft {
    grid-area: left;
    text-align: center;
    padding-inline: 1rem;
    ul {
        font-size: 0.9rem;
        padding: 0px;
    }
}

.aboutRight {
    grid-area: right;
    text-align: center;
    padding-inline: 1rem;
    padding-top: 2rem;
    ul {
        font-size: 0.9rem;
        padding: 0px;
    }
}

.aboutMain a {
    font-size: 0.9rem;
    color: inherit;
    text-decoration: none;
    &:hover{
        color: var.$color-violet;
    }
}

@media (min-width: 480px) {
    .offersImage img {
        max-width: 20rem;
        height: auto;
    }

    .footerMain {
        @include m.basicFlexDirectionJustContent(row, flex-start);
        flex-wrap: wrap;
        gap: 0.5rem;
        article {
            width: 13rem;
        }
    }
}

/*      Tablet      */

@media (min-width: 748px) {
    .slider {
        @include m.basicFlexDirectionJustContent(row, center);
        gap: 2rem;
    }

    .featured {
        @include m.basicFlexDirectionJustContent(row, center);
        flex-wrap: wrap;
    }

    .categories {
        @include m.basicFlexDirectionJustContent(row, center);
        flex-wrap: wrap;
    }

    .product {
        max-width: 20rem;
    }

    .footerMain {
        @include m.basicFlexDirectionJustContent(row, center);
        gap: none;
        article {
            width: 20rem;
        }
    }

    .aboutMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "left right";
        ul {
            padding: 0px;
        }
        h2 {
            text-align: start;
        }
    }

    .aboutLeft {
        text-align: start;
        padding-inline: 1rem;
    }

    .aboutRight {
        padding-top: 0px;
        text-align: start;
        padding-inline: 1rem;
    }
}

/*      Desktop      */

@media (min-width: 1024px) {
    .headerNavBar {
        gap: 2rem;
    }

    .slider {
        justify-content: none;
    }

    .footerMain article {
        width: 13rem;
    }
}