// FONTS

$fuente-principal: 'Inter', sans-serif;
$fuente-secundaria: 'Poppins', sans-serif;

// COLORS

$color-white: #fff;
$color-violet: #6C63FF;
$color-pink: #E91E63;
$color-pink-white: #FF4081;
$color-blue: #1E4E8C;
$color-blue-white: #F5F6FF;
$color-gray: #555555;
$color-black: #0F1220;
$color-black-footer: #151A2E;