@use "../utilities/variables" as var;
@use "../utilities/extends";
@use "../utilities/mixins" as m;

.activeLink {
    color: var.$color-pink;
}

.productsMain {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    ul {
        color: var.$color-blue;
    }
}

.featureds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.productInProducts {
    width: 11rem;
    height: auto;
    padding: 1rem;
    margin: 1rem;
    vertical-align: top;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid var.$color-gray;
    img {
        width: 8rem;
        height: auto;
        padding: 2rem;
    }
    h3 {
        font-size: 1rem;
        margin-bottom: 0.4rem;
    }
    p {
        color: var.$color-gray;
        padding-block: 0.1rem;
        font-size: 0.9rem;
    }
    button {
        @extend %primary-btn;
        margin-top: 1rem;
        font-size: small;
    }
}